#### RABBITMQ ####
# see: https://hub.docker.com/_/rabbitmq
RABBITMQ_DEFAULT_USER=occi
RABBITMQ_DEFAULT_PASS=XXXXXXXXXXXXX

#### CELERY ####
CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rmq:5672
CELERY_RESULT_BACKEND=rpc://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rmq:5672

