uvicorn==0.22.0
pydantic==1.10.11
FastAPI==0.100.0
Celery==5.3.1
python-dotenv
asgiref==3.7.2
nest-asyncio==1.5.6
redis==4.6.0
cadquery==2.2.0b2
numpy==1.23.1
whoosh==2.7.4
semver>=3.0.0rc1
git+https://github.com/gumyr/cq_warehouse.git#egg=cq_warehouse